= simple_form_for @matches_user, html: {multipart: true} do |f|
    - if @matches_user.errors.any?
        #errors
            %h2
            =pluralize(@matches_user.errors.count, "error")
            prevented this entry from saving
            %ul 
                -   @matches_user.errors.full_messages.each do |msg|
                    %li= msg
                  
    .form-group
        = f.input :match_id, input_html: {class: "form-control"}

    .form-group
        = f.input :user_id, input_html: {class: "form-control"}
    
    = f.button :submit, class: "btn btn-primary"