    <p id="notice"><%= notice %></p>
    <% require 'csv' %>
    <% require 'ruby-fann' %> 

    <% x_data = [] %>
    <% y_data = []  %>

    <% CSV.foreach("./data/callofduty-sample-match-scores.csv", :headers => false) do |row|
    x_data.push( [row[0].to_f, row[1].to_f] )
    y_data.push( [row[2].to_i] )
    end %>

    <% test_size_percentange = 20.0 # 20.0% %>
    <% test_set_size = x_data.size * (test_size_percentange/100.to_f) %>

    <% test_x_data = x_data[0 .. (test_set_size-1)] %>
    <% test_y_data = y_data[0 .. (test_set_size-1)] %>

    <% training_x_data = x_data[test_set_size .. x_data.size] %>
    <% training_y_data = y_data[test_set_size .. y_data.size] %>

    <% train = RubyFann::TrainData.new( :inputs=> training_x_data, :desired_outputs=>training_y_data ); %>

    <% model = RubyFann::Standard.new(
                num_inputs: 2,
                hidden_neurons: [6],
                num_outputs: 1 ); %>

    <% model.train_on_data(train, 5000, 500, 0.01) %>
        <div class="box panel panel-default matchbox">
            <div class="panel-body">
    
                <% score1 = @neuro.result1 %>
                <%= "First match score: #{score1}" %> <br/>                

                <% score2 = @neuro.result2 %>
                <%= "Second match score: #{score2}" %> <br/>

                <% prediction = model.run( [score1, score2] )%> 
                <%= "Qualified for playoffs (0 - didn't qualify, 1 - did qualify): #{prediction.map{ |e| e.round }}"%> <br/>

                <% predicted = []
                test_x_data.each do |params|
                predicted.push( model.run(params).map{ |e| e.round } )
                end %>

                <% correct = predicted.collect.with_index { |e,i| (e == test_y_data[i]) ? 1 : 0 }.inject{ |sum,e| sum+e } %>

                <%= "Analysis Accuracy: #{((correct.to_f / test_set_size) * 100).round(2)}% - test set of size #{test_size_percentange}%" %>
            </div>
    </div>    
<%= link_to 'Delete Entry', @neuro, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_neuro_path(@neuro) %> |
<%= link_to 'Back', neuros_path %>


